
/* Video Box */
.thumbnail{
    transition: box-shadow 0.3s;
    width: 100%;
}

.thumbnail:hover {
    box-shadow: 3px 3px 3px black;
}

.video-title {
   margin-top: 0;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   margin-bottom: 12px;
}
.video-author, .video-details {
    font-size: 12px;
    color: rgb(96, 96, 96);
    cursor: pointer;
}
.video-author {
    margin-bottom: 5px;
}


.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-img {
    width: 36px;
    border-radius: 50px;
}
.thumbnail-row {
    margin-bottom: 10px;
    position: relative;
}

.time {
    position: absolute;
    right: 8px;
    bottom: 10px;
    background-color: black;
    color: white;
    padding: 4px;
    font-size: 12px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    font-weight: 500;
}


.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 38px;
    font-family: Roboto, Arial;
}

@media (max-width: 770px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 771px) and (max-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1201px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.youthbook-page {
    background-color: rgb(238, 238, 238);
}
